@use '../../styles/variables' as var;
.tradeContainer{
    display: flex;
    justify-content: center;
    align-items: center;


}
.hr{
  	background-color: var.$grey;
	width: 80%;
	border-left: 2px solid rgb(255, 255, 255);
	height: 1px;   
}


.filterPanel{
  display: flex;
  justify-content: space-around;
  border: 1px solid red;
  margin: 2% 19%
}
.cryptoList{
margin: 2% 10%
}
.cryptoItem{
  display: flex;
  justify-content: space-around;
}