@use '../../styles/variables' as var;
.tradeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hr{
  	background-color: var.$grey;
	width: 80%;
	border-left: 2px solid rgb(255, 255, 255);
	height: 1px;   
}
.cryptoListTradePages{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 20px;
  margin: 40px 10% 20px;
  border-radius: 12px;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 15px;
  
}
.cryptoItemForTradePage{
border: 1px solid white;
background-color: var.$blackLight;
display: flex;
}