.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.successMessage{
    background-color: rgba(3, 97, 3, 0.596);
    color: green;
    padding: 5px;
    margin: 5px;
    text-align: center;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 600;
}