.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.successMessage{
    background-color: green;
    color: rgba(3, 70, 3, 0.815);
    border: 1px solid  rgba(3, 70, 3, 0.815);
    padding: 5px;
    margin: 5px;
    text-align: center;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
}
.errorMessage{
    background-color: red;
    color: rgba(85, 2, 2, 0.801);
    border: 2px solid  rgba(85, 2, 2, 0.801);
    padding: 5px;
    margin: 5px;
    text-align: center;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
}
