@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


*{
    margin: 0;
    padding: 0;
}
// color
$grey: #ADB3BF;
$blue: #1B70F1;
$blackDark: #131517;
$blackLight: #1E1F25;
// font
$fontFamily: "Source Sans 3", sans-serif;
$regular: 400;
$semiBold: 600;
$bold: 700;
$fontSize: 16px
// Arial Bold useless 2 times
