.cryptoList {
  display: flex;
  list-style-type: none;
  padding: 20px;
  margin: 40px 10% 20px;
  border-radius: 12px;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 15px;
  
  @media (max-width: 992px) {
    margin: 30px 5% 15px;
    padding: 15px;
  }
  
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.cryptoItem {
  display: flex;
  padding: 12px 20px;
  border-radius: 8px;
  // background-color: #f8f9fa46;
  transition: all 0.3s ease;
  min-width: 200px;
 
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  
  @media (max-width: 768px) {
    width: 90%;
    justify-content: space-between;
    margin-bottom: 10px;
  }
}
.cryptoItemElem{
  display: flex;
  flex-direction: column;
}
.cryptoItemName{
  display: flex;
  gap: 15px;
}
.cryptoLogo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  
  @media (max-width: 480px) {
    width: 25px;
    height: 25px;
  }
}
