@use '../../styles/variables' as var;
.navBar {
	background: var.$blackLight;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: var.$fontSize;
    padding: 19px;
}
.hr {
	background-color: var.$grey;
	width: 1px;
	border-left: 2px solid grey;
	height: 30px;
}
.wrapperContent {
	display: flex;
	justify-content: space-between;
	gap: 10%;
	align-items: center;
}
.link{
	color: white;    
    text-decoration: none;
	font-size: 20px;
	position: relative;
}
.link:after{
 content: '';
 position: absolute;
 background-color: white;
 width: 0;
 height: 2px;
 display: block;
 left: 50%;
 transform: translateX(-50%);
}
.link:hover{
	margin-bottom: 4px;
	transition: margin-bottom 0.4s ease-in-out;
}
.link:hover:after{
	width: 100%;
	transition: width 0.4s ease-in-out;

}