.image {
    max-width: 100%;
    height: auto;
    
    @media (max-width: 768px) {
        max-width: 80%;
        margin: 0 auto;
    }
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3% 10%;

}